@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


body, html {
  margin: 0;
  padding: 0;
}

button:hover {
  opacity: .9;
}

#landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #00ffff , #a3a6d4, #fc0ba6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#feedback-landing {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(to bottom, #00ffff, #7828c5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#terms-landing {
  width: 100vw;
  height: 72.5vh;
  background: linear-gradient(to bottom, #00ffff, #59fca2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


input {
  height: 5vh;
  font-size: 2vw;
  background: #F4F4F4;
  border: none;
  border-radius: 5px;
}

input[type=text]{
  width: 70vw;
  height: 4vh;
}

input[type=email]{
  width: 70vw;
  height: 4vh;
}

input[type=submit]{
  width: 10vw;
  height: 4vh;
  font-size: 15px;
}


textarea {
  width: 70vw;
  height: 20vh;
  font-size: 20px;
  background: #F4F4F4;
  border: none;
  border-radius: 5px;
}



#form {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: #636161;
  line-height: 1.5em;
  text-transform: none;
}

#form-content {
  width: 90vw;
  height: 40vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#navigation {
  width: 100vw;
  height: 15vh;
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#logo {
  margin-left: 3vw;
  width: 50%;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 4rem;
  color: #fc0ba6;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

#links {
  width: 50%;
  margin-right: 4vw;
  text-align: right;
}

.link {
  color: #ffffff;
  margin: 4%;
  text-decoration: none;
font-family: 'Roboto', sans-serif;
  font-size: 17.6;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

.current {
    color: #fc0ba6;
}

.link:hover {
  color: black;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 3.2rem;
  color: #fffafa;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 0;
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 2.3rem;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-transform: none;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  color: #7a7a7a;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 0;
}

h5 {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
  color: #fffafa;
  text-decoration: none;
  letter-spacing: 1px;
  margin: none;
  line-height: 1.5rem;
}

h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-transform: none;
}

p {
font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: #636161;
  line-height: 1.5em;
  text-transform: none;
}

#landing-content {
  padding-top: 10vh;
  margin-left: -20vw;
  margin-top: 12vh;
  width: 60vw;
  height: 40vh;
  color: white;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#feedback-landing-content {
  width: 40vw;
  height: 35vh;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15vh;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}


#terms-landing-content {
  width: 40vw;
  height: 40vh;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 15vh;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
}

#feedback-landing-content h5 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

#landing-content button {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 300px;
  height: 75px;
  background: #ff9100;
  color: white;
  border: none;
  border-radius: 5px;
}

#features {
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100vw;
  background: white;
  overflow: hidden;
}

#features-content {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100vw;
  height: 90%;
}

.feature {
  padding: 10px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#row1 {
  width: 100vw;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#row2 {
  width: 100vw;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#careers {
  width: 100vw;
  height: 70vh;
  background: linear-gradient(to bottom, #7828c5 , #0229e6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#careers-content {
  width: 70vw;
  height: 90%;
  color: white;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#careers-content button  {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;;
  letter-spacing: 1px;
  width: 235px;
  height: 60px;
  background: #ff0586;
  color: white;
  border: none;
  border-radius: 5px;
}

#about {
  width: 100vw;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about h5 {
  text-align: left;

  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

#about h5 strong {
  text-align: left;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

#about-content {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 60vw;
  height: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about img {
  width: 20h;
  height: 20vh;
}

#feedback {
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 100vw;
  background: linear-gradient(to bottom, #00ffff , #023feb);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#feedback-content {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 60vw;
  height: 90%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 7.5vh;
}

#feedback-content h3 {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: none;
  margin-bottom: 0;
}

#actual-terms {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: #636161;
  line-height: 1.5em;
  text-transform: none;
}

#actual-terms-content {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 65vw;
}

#actual-terms-content h5 {
  text-align: center;
  color: #7a7a7a;
}

#feedback-content h5 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
  margin: 0;
}

#feedback-content button{
  background-color: #ff9100;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  width: 275px;
  height: 75px;
  background: #ff9100;
  color: white;
  border: none;
  border-radius: 5px;
}

#privacy {
  width: 100vw;
  background: linear-gradient(to bottom, #fc0ba6 , #00ffff);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 5vh;
  padding-bottom: 7.5vh;
}

#privacy-content {
  width: 58vw;
  height: 80%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#feedback-privacy {
  height: 65vh;
  width: 100vw;
  background: linear-gradient(to bottom, #f42521 , #0a41ef);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#feedback-privacy-content {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 32.5vw;
  height: 90%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#feedback-privacy-content h3 {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-transform: none;
}

#feedback-privacy-content h5 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

#feedback-privacy-content button{
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;;
  letter-spacing: 1px;
  width: 300px;
  height: 60px;
  background: #ff0586;
  color: white;
  border: none;
  border-radius: 5px;
}

#privacy-content h3 {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-transform: none;
}

#privacy-content h5 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: none;
}

#privacy-content button{
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 300px;
  height: 60px;
  background: #ff0586;
  color: white;
  border: none;
  border-radius: 5px;
}



@media only screen and (max-width: 500px) {

  input[type=submit]{
    width: 20vw;
    height: 4vh;
    font-size: 15px;
  }


  body, html {
    margin: 0;
    padding: 0;
  }

  input {
    width: 70vw;
    height: 5vh;
    font-size: 2.5vw;
    background: #F4F4F4;
    border: none;
  }


  textarea {
    width: 70vw;
    height: 20vh;
    background: #F4F4F4;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }

  button:hover {
    opacity: .9;
  }

  #landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #00ffff , #a3a6d4, #fc0ba6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  #terms-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #00ffff, #59fca2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  label {
  font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #636161;
    line-height: 1.5em;
    text-transform: none;
  }

  #form-content {
    width: 100vw;
    height: 100vh
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  #navigation {
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #logo {
    margin: 0;
    text-align: center;
    width: 100vw;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 12vw;
    color: #fc0ba6;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #links {
    margin: 0;
    width: 100vw;
    text-align: center;
  }

  .link {
    color: #ffffff;
    margin: 4%;
    text-decoration: none;
  font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  .current {
      color: #fc0ba6;
  }

  .link:hover {
    color: black;
  }

  h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 10vw;
    color: #fffafa;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0;
  }

  h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 8vw;
    color: #7a7a7a;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 6vw;
    color: #7a7a7a;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0;
  }

  h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 4vw;
    color: #fffafa;
    text-decoration: none;
    letter-spacing: 1px;
  }

  h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: white;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: none;
  }

  p {
  font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #636161;
    line-height: 1.5em;
    text-transform: none;
  }

  #landing-content {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    width: 80vw;
    height: 40vh;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-landing-content {
    width: 80vw;
    height: 50vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
  }


  #terms-landing-content {
    width: 80vw;
    height: 40vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
  }

  #feedback-landing-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #landing-content button {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;;
    letter-spacing: 1px;
    width: 245px;
    height: 60px;
    background: #ff9100;
    color: white;
    border: none;
    border-radius: 5px;
  }

  #features {
    height: 100%;
  }

  .feature {
    width: 80vw;
  }

  #row1 {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  #row2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  #careers {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(to bottom, #7828c5 , #0229e6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #careers-content {
    width: 80vw;
    height: 90%;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #careers-content button {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;;
    letter-spacing: 1px;
    width: 190px;
    height: 48px;
    background: #ff0586;
    color: white;
    border: none;
    border-radius: 5px;
  }

  #about {
    padding-top: 1vh;
    padding-bottom:1vh;

    height: 90vh;
    width: 100vw;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #about h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: #7a7a7a;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #about h5 strong {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 4vw;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #about-content {
    width: 80vw;
    height: 90%;
    color: white;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #about img {
    width: 20vh;
    height: 20vh;
  }

  #feedback {
    height: 50vh;
    width: 100vw;
    background: linear-gradient(to bottom, #00ffff , #023feb);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-content {
    width: 60vw;
    height: 90%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-content h3 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  #actual-terms {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  li {
  font-family: 'Roboto', sans-serif;
    color: #636161;
    line-height: 1.5em;
    text-transform: none;
  }

  #actual-terms-content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 85vw;
  }

  #feedback-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #feedback-content button{
    background-color: #ff9100;
    font-size: 1.2rem;;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    width: 225px;
    height: 60px;
    background: #ff9100;
    color: white;
    border: none;
    border-radius: 5px;
  }

  #privacy {
    height: 50vh;
    width: 100vw;
    background: linear-gradient(to bottom, #fc0ba6 , #00ffff);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #privacy-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 70vw;
    height: 80%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-privacy {
    height: 50vh;
    width: 100vw;
    background: linear-gradient(to bottom, #f42521 , #0a41ef);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-privacy-content {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width:70vw;
    height: 90%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-privacy-content h3 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  #feedback-privacy-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #feedback-privacy-content button{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;;
    letter-spacing: 1px;
    width: 245px;
    height: 50px;
    background: #ff0586;
    color: white;
    border: none;
    border-radius: 5px;
  }

  #privacy-content h3 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  #privacy-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #privacy-content button{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 245px;
    height: 60px;
    background: #ff0586;
    color: white;
    border: none;
    border-radius: 5px;
  }

}




@media only screen and (min-width: 500px) and (max-width: 800px) {
  body, html {
    margin: 0;
    padding: 0;
  }

  button:hover {
    opacity: .9;
  }

  input {
    width: 70vw;
    height: 5vh;
    font-size: 2vw;
    background: #F4F4F4;
    border: none;
    border-radius: 5px;
  }

  textarea {
    width: 70vw;
    height: 20vh;
    font-size: 20px;
    background: #F4F4F4;
    border: none;
    border-radius: 5px;
  }

  #landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #00ffff , #a3a6d4, #fc0ba6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  #feedback-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #00ffff, #7828c5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #terms-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #00ffff, #59fca2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  label {
  font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #636161;
    line-height: 1.5em;
    text-transform: none;
  }

  #form-content {
    width: 100vw;
    height: 100vh
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  #navigation {
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  #logo {
    margin-left: 5vw;
    width: 60%;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: #fc0ba6;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #links {
    width: 50%;
    margin-right: 5vw;
    text-align: right;
  }

  .link {
    color: #ffffff;
    margin: 4%;
    text-decoration: none;
  font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  .current {
      color: #fc0ba6;
  }

  .link:hover {
    color: black;
  }

  h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 5vw;
    color: #fffafa;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0;
  }

  h3 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: #7a7a7a;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
    color: #7a7a7a;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0;
  }

  h5 {
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
    color: #fffafa;
    text-decoration: none;
    letter-spacing: 1px;
  }

  h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 3vw;
    color: white;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: none;
  }

  p {
  font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    color: #636161;
    line-height: 1.5em;
    text-transform: none;
  }

  #landing-content {
    width: 80vw;
    height: 100vh;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-landing-content {
    width: 80vw;
    height: 40vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
  }


  #terms-landing-content {
    width: 80vw;
    height: 40vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
  }

  #feedback-landing-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 3vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #landing-content button {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;;
    letter-spacing: 1px;
    width: 245px;
    height: 60px;
    background: #ff9100;
    color: white;
    border: none;
    border-radius: 5px;
  }

  #features {
    height: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .feature {
    width: 80vw;
  }

  #row1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
  }

  #row2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
  }

  #careers {
    width: 100vw;
    height: 70vh;
    background: linear-gradient(to bottom, #7828c5 , #0229e6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #careers-content {
    width: 90vw;
    height: 90%;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #careers-content button {
    width: 235px;
    height: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    background-color: #ff0586;
    color: #ffffff;
    border-color: rgba(255,5,134,1.00);
    border-style: solid;
    border-width: 2px;
  }

  #about {
    padding-top: 1vh;
    padding-bottom:1vh;

    height: 100vh;
    width: 100vw;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #about h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 3vw;
    color: #7a7a7a;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #about h5 strong {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 3vw;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #about-content {
    width: 70vw;
    height: 90%;
    color: white;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #about img {
    width: 20vh;
    height: 20vh;
  }

  #feedback {
    height: 70vh;
    width: 100vw;
    background: linear-gradient(to bottom, #00ffff , #023feb);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-content {
    width: 80vw;
    height: 90%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-content h3 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  #actual-terms {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  li {
  font-family: 'Roboto', sans-serif;
    color: #636161;
    line-height: 1.5em;
    text-transform: none;
  }

  #actual-terms-content {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 85vw;
  }


  #feedback-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 4vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #feedback-content button{
    width: 235px;
    height: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    background-color: #ff9100;
    color: #ffffff;
  }

  #privacy {
    height: 70vh;
    width: 100vw;
    background: linear-gradient(to bottom, #fc0ba6 , #00ffff);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #privacy-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 70vw;
    height: 80%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-privacy {
    height: 70vh;
    width: 100vw;
    background: linear-gradient(to bottom, #f42521 , #0a41ef);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-privacy-content {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width:80vw;
    height: 90%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #feedback-privacy-content h3 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  #feedback-privacy-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 3vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #feedback-privacy-content button{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 60vw;
    height: 5vh;
    background: #ff0586;
    color: white;
    border: none;
    border-radius: 5px;
  }

  #privacy-content h3 {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-transform: none;
  }

  #privacy-content h5 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 3vw;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: none;
  }

  #privacy-content button{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 245px;
    height: 50px;
    background: #ff0586;
    color: white;
    border: none;
    border-radius: 5px;
  }

}

/* BLUE #70fbfd */
/* PINK #e23ba1 */

/* PURPLE #7828c5 */
/* BLUE #0229e6 */


/* TEAL #68e5d9 */
/* BLUE #023feb */

/* PINK #e848ef */
/* TEAL #6ae3f7 */
